body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    /* Other color: #ddd78d;   */
    background-color: #f4f4f4;
    padding: 0;
    align-items: center;
    min-height: 100vh;
    gap:5px;
}

header {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-content: center;
    align-items: center;
    background-color:#FFFFFF;
    margin: 0 auto;
    
}

header div{
    /* margin-right: 0; */
    display: flex;
    width:100%;
    margin-left: 0;
    margin-top: 10px;
    color:#333333;
    align-content: space-between;
}

.left{
    flex: 80%; 
}

.right {
    flex: 20%; 
}

main {
    width: 70%;
    align-content: center;
    margin: 0 auto;
    background-color: #e3eefc;
    /* height: 70vh; */
    flex-grow: 1;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
    background-color: #FFFFFF;
    color: #93a29b;
    text-decoration: none;
    /* margin-left: 40%; */
    margin-right: 0; 
    font-size: 12pt;
}

.nav-link {
    text-decoration: none;
    font-size: 12pt;
    border-radius: 3px;
    /* padding: 10px; */
    margin: 0 10px;
    color: #333333;
}

.nav-link:hover {
    color: #007BFF;
}

a {
    color: #007BFF;
}

.buttonDiv{
    display: flex;
    justify-content: space-around;
}

.buttonDiv button{
    width: 20%;
}

.current {
    color: #007BFF; /* current page's nav color */
    border-bottom: 2px solid #007BFF; /* add blue line below current nav */
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    background-color: #e3eefc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:100%;
}


.cell {
    text-align: center;
}

.pictures {
    width: 60%;
    height: auto;
}

.maintext {
    text-align: left;
    justify-self: start;
}

button {
    color: white;
    background-color: #005dda;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

button.warningButton{
    width: auto;
    background-color: red;
}

button:disabled {
    color: #777; 
    background-color: #ddd; 
    border-color: #ccc; 
}


.warning{
    color: red;
    margin: 0;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    header {
        background-color: #333;
        color: white;
        padding: 10px;
    }
}



/* The following are for footer. */
footer {
    /* position: absolute;
    bottom: 0; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color:#FFFFFF;
    color: #93a29b;
    margin: 0 auto;
    margin-top: auto;
    flex-shrink: 0;
}

footer div {
    width: 70%;
}
footer div p {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0;
    margin-right: 0%; 
}

footer nav {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    list-style: none;
    /* top: 0; 将下拉菜单定位到触发元素的下方 */
    left: 0;
    width: auto;
}

#logout-dropdown::after {
    content: "";
    color:#005dda;
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px; /* 调整箭头与文字之间的间距 */
    transform: rotate(45deg);
}


.dropdown-menu li {
    margin-bottom: 5px;
    display: block; /* every option in one line */
    white-space: nowrap;
}

.dropdown-menu li:first-child {
    margin-top: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}



nav ul {
    list-style: none; /* 隐藏列表项标记 */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; /* 将列表项水平排列 */
}

nav ul li ul {
    display: none; /* 默认隐藏下拉菜单 */
}

nav ul li:hover ul {
    display: block; /* 鼠标悬停时显示下拉菜单 */
} */ */

@media screen and (min-width: 800px) {
    .gridCourseDetail {
        grid-column-gap: 50px;
    }
}