body {
    font-family: Arial, sans-serif;
    /* Other color: #ddd78d;  */
    background-color: #f4f4f4;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    background-color: ; //#fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    gap:5px;
}

button {
    color: white;
    background-color: #005dda;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

button.warningButton{
    width: auto;
    background-color: red;
}

button:disabled {
    color: #777; 
    background-color: #ddd; 
    border-color: #ccc; 
}


.warning{
    color: red;
    margin: 0;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    header {
        background-color: #333;
        color: white;
        padding: 10px;
    }
}


@media screen and (min-width: 800px) {
    .gridCourseDetail {
        grid-column-gap: 50px;
    }
}