/*
Assignment: Group Assignment
Authors: Yizhen Xu, Ryan Xu
*/
.fieldset {
    /* width: 99%; */
    /* background-color: #e7f5f0; */
}

#fieldset1 {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    /* grid-template-rows: 80px 40px 40px; */
    /* justify-items: start; */
    /* align-items: center; */
    /* gap:10px; */
}


#fieldset2 {
    display: flex;
    justify-content: space-between;
}

.row-item{
    /* width: 30%; */
    padding: 5px;
    text-align: right;
    flex: 1;
}

#fieldset3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productLabel, .productInput{
    display: grid;
    grid-template-columns: 3% 27% 18% 6% 6% 10% 8% 8%; 
    width: 100%;
    grid-gap: 2px; 
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

#fieldset4 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-end;
}


/* For every grid-teim */
.grid-item {
    display: flex;
    /* width: 100%; */
    /* background-color: #f0f0f0; */
    padding: 2px;
    /* text-align: right; */
    align-self: center;
    /* justify-content: flex-start; */
    justify-content: space-between;
    /* border: 1px solid blue; */
}

/* for grid row */
.column-1 {
    grid-column: span 1; /* span 1 columns */
}

.column-2 {
    grid-column: span 2; /* span 2 columns */
}

.column-3 {
    grid-column: span 3; /* span 3 columns */
}

.column-4 {
    grid-column: span 4; /* span 4 columns */
}
.column-5 {
    grid-column: span 5; /* span 5 columns */
}

.productInput input{
    height: 1.7em;
    padding: 2px;
    margin-bottom: 1px;
    width: 100%;

}
.productInput select {
    height: 2em;
    padding: 2px;
    margin-bottom: 1px;
    width: 100%;
}

.invoice-foot{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin:5px;
    gap: 5px;
}

.total {
    width: 20%;
}

textarea {
    width: 80%;
}

.invisible{
    display: none;
}

.vendorname {
    margin-bottom: 2px;
    align-self: flex-start;
    align-items: center;
}


#vendorSelect {
    font-size: 1.2em;
}
#inputVendorName {
    font-size: 1.1em;
    width: auto;
}

# vendorButtonDiv {
    display: flex;
    justify-content: flex-start;
    /* height: 150%; */
    /* text-align: left; */
}

input[type="text"][readonly],
input[type="email"][readonly] {
    background-color: #f2f2f2; 
    border-color: #ccc; 
    color: #555; 
}
