body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}

.textfield {
    display: flex;
    flex-direction: column;
    padding:0;
}

.gender {
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    width: 30%;
    padding:0;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    color: white;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #005dda;
}

button[type="reset"] {
    background-color: red;
}

.warning{
    color: red;
    margin: 0;
}